body {
    font-family: arial, serif, sans-serif;
    margin: auto;
    border: 1px solid #607D8B;
    max-width: 900px;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#photoclara {
    background-color: #607D8B;
    width: 35%;
    padding: 5% 0 5% 0;
}

#photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1.5px solid #37474F;
    overflow: hidden;
    margin: auto;
}

#sizeofphoto {
    width: 150px;
}

#presentation {
    width: 65%;
    text-align: justify;
    margin: 5%;
    line-height: 110%;
}

h1 {
    font-size: 250%;
    color: #000;
}

h1 > span {
    color: #607D8B;
}

h2 {
    color: #000;
}

h2 > span {
    text-decoration: underline;
    text-decoration-color: #607D8B;
    text-underline-position: under;
}

#blocs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#left_block {
    width: 35%;
    background-color: #607D8B;
}

#left_block h3 {
    background-color: #EEEEEE;
    color: #607D8B;
    text-align: center;
    padding: 4% 0;
    margin: 0;
    font-size: 120%;
    border-right: 1px solid #607D8B;
}

address {
    font-style: normal;
    padding: 10% 15% 15% 15%;
    line-height: 1.2em;
    color: #EEEEEE;
}

#informations > p {
    padding: 10% 15% 50% 15%;
    line-height: 1.25;
    text-align: justify;
    color: #EEEEEE;
}

#icons {
    display: flex;
    flex-direction: row;
    padding: 11%;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    margin: auto;
    font-weight: 10rem;
}

#right_block {
    width: 65%;
    margin: 0 5%;
    color: #455A64;
}

#right_block h3 {
    color: #000;
}

h3 > i {
    color: #336699;
    padding-right: 3%;
}

#recommandation1 {
    display: flex;
    border-top: 1.3px solid #336699;
    padding-top: 4%;
}

#formation1 {
    display: flex;
    border-top: 1.3px solid #336699;
    padding-top: 4%;
}

#formation {
    display: flex;
    padding-top: 4%;
}

.year {
    padding: 0 20% 0 0;
}

.circle {
    padding: 100% 7% 0 0;
}

.date {
    width: 40%;
    display: flex;
}

.date > p {
    padding: 0 100% 0 100%;
}

.etablissement {
    width: 60%;
}

.recommandation {
    padding: 0 0 0 20%;
}

@media all and (max-width: 800px){
    header {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #photoclara {
        width: 100%;
        padding: 2% 0 2% 0;
    }

    #presentation {
        width: 90%;
        text-align: center;
    }

    #blocs {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    #right_block {
        width: 90%;
    }

    #left_block {
        width: 100%;
    }

    address {
        padding: 5% 15% 5% 15%;
        text-align: center;
        font-weight: bold;
    }

    #recommandation1 {
        display: flex;
        border-top: 1.3px solid #336699;
        padding: 4% 0 4% 0;
    }

    #informations > p {
        padding: 8% 15% 8% 15%;
    }

    #left_block h3 {
        border-right: none;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .recommandation {
        padding: 0 0 0 30%;
    }
}

@media all and (max-width: 500px){
    #photoclara {
        background-color: #455A64;
    }
    
    h1 {
        font-size: 150%;
    }

    h1 > span {
        color: #455A64;
    }

    h2 {
        font-size: 130%;
    }

    #formation, #formation1, #recommandation1  {
        color: #455A64;
    }

    #formation1, #recommandation1 {
        border-top: 1.3px solid #455A64;
    }

    #left_block {
        background-color: #455A64;
    }

    #left_block h3 {
        color: #455A64;
    }
}

@media all and (max-width: 450px){
    
    .circle {
        visibility: hidden;
    }

    .date > p {
        padding: 0;
    }

    #right_block > h3 {
        font-size: 110%;
    }
}






