body {
    font-family: arial, serif, sans-serif;
    border: 1px solid #607D8B;
    margin: auto;
    max-width: 900px;
}

header {
    display: flex;
}

#photo {
    background-color: #607D8B;
    width: 35%;
    padding: 5% 0 5% 0;
}

#photoclara {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2.5px solid #37474F;
    overflow: hidden;
    margin: auto;
}

#taille_photo {
    width: 205px;
}

#titre {
    width: 65%;
    line-height: 110%;
}

h1 {
    font-size: 250%;
    padding: 15% 0 0 7%;
    font-weight: lighter;
}

h1 > span {
    color: #607D8B;
    font-weight: bold;
    letter-spacing: 1.5px;
}

h2 {
    color: #2d3a40;
    padding-left: 7%;
    letter-spacing: 0.5px;
}

h2 > span {
    text-decoration: underline;
    text-decoration-color: #607D8B;
    text-underline-position: under;
}

main {
    display: flex;
}

#bloc_gauche {
    width: 35%;
    background-color: #607D8B;
}

#bloc_gauche h3 {
    background-color: #EEEEEE;
    color: #607D8B;
    text-align: center;
    padding: 4%;
    margin: 0;
    font-size: 120%;
    border-right: 1px solid #607D8B;
}

address {
    font-style: normal;
    padding: 10% 15% 15% 15%;
    line-height: 1.2;
    color: #EEEEEE;
}

a {
    text-decoration: none;
    color: #E0E0E0;
}

#informations > p {
    padding: 10% 15% 150% 15%;
    line-height: 1.5;
    text-align: justify;
    color: #EEEEEE;
}

#icones {
    display: flex;
    flex-direction: row;
    padding: 11%;
}

.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    margin: auto;
}

#bloc_droit {
    width: 55%;
    margin: auto;
    padding-bottom: 2%;
    color: #455A64;
}

p {
    line-height: 1.5;
}

#bloc_droit > h3 {
    color: #000;
    border-bottom: 1.3px solid #336699;
    padding-bottom: 1%;
}

h3 > i {
    color: #455A64;
    padding-right: 3%;
}

.mise_en_page {
    display: flex;
    padding-bottom: 1%;
}

.annee {
    padding: 0 20% 0 3%;
}

.puce {
    padding-top: 4%;
}

.etablissement {
    line-height: 0.5;
    padding-top: 0.5%;
}

.taches {
    font-size: 99%;
}

#recommandation {
    display: flex;
}

.recommandation1 {
    padding-left: 18%;
}

/* Partie responsive */

@media all and (max-width: 800px){
    
    header {
        flex-direction: column;
    }

    #photo {
        width: 100%;
        padding: 2% 0 2% 0;
    }

    #titre {
        width: 95%;
        text-align: center;
    }

    main {
        flex-direction: column-reverse;
    }

    #bloc_droit {
        width: 90%;
    }

    #bloc_gauche {
        width: 100%;
    }

    address {
        padding: 5% 15% 5% 15%;
        text-align: center;
        font-weight: bold;
    }

    #recommandation {
        padding: 2% 0 3% 0;
    }

    h1 {
        padding-top: 5%;
    }

    h2 {
        padding-bottom: 5%;
    }

    #informations > p {
        padding: 8% 15% 8% 15%;
    }

    #bloc_gauche h3 {
        border-right: none;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .recommandation1 {
        padding-left: 25%;
    }
}

@media all and (max-width: 500px){
        
    h1 {
        font-size: 150%;
    }

    h2 {
        font-size: 130%;
    }
}

@media all and (max-width: 450px){
    
    .puce {
        visibility: hidden;
    }

    #bloc_droit > h3 {
        font-size: 110%;
    }
}

@media all and (max-width: 355px) {

    #photoclara {
        width: 150px;
        height: 150px;
    }

    #taille_photo {
        width: 150px;
    }
    
    h2 {
        font-size: 120%;
    }
    
    .mise_en_page {
        flex-direction: column;
    }

    .etablissement {
        margin-top: -17px;
    }

    .puce {
        padding: 0;
        margin-right: -15px;
    }

    .annee {
        font-weight: bold;
        padding: 0;
    }
}






